* {
  box-sizing: border-box;
}

:root {
  --timberwolf: #dad7cdff;
  --laurel-green: #a3b18aff;
  --fern-green: #588157ff;
  --hunter-green: #3a5a40ff;
  --brunswick-green: #344e41ff;
}

.nav-bar,
.me-auto {
  background-color: var(--brunswick-green);
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--timberwolf);
  text-decoration: none;
  margin-inline: 2.5rem;
}

body {
  background-color: var(--laurel-green);
}
