* {
  box-sizing: border-box;
}

:root {
  --timberwolf: #dad7cdff;
  --laurel-green: #a3b18aff;
  --fern-green: #588157ff;
  --hunter-green: #3a5a40ff;
  --brunswick-green: #344e41ff;
  --cultured: #f8f9faff;
  --cultured-2: #e9ecefff;
  --gainsboro: #dee2e6ff;
  --light-gray: #ced4daff;
  --cadet-blue-crayola: #adb5bdff;
  --sonic-silver: #6c757dff;
  --davys-grey: #495057ff;
  --onyx: #343a40ff;
  --eerie-black: #212529ff;
}

.nav-bar {
  background-color: var(--brunswick-green);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.nav-links {
  color: var(--timberwolf);
  text-decoration: none;
  font-size: 1.5rem;
  justify-content: space-between;
  text-align: center;
}

body {
  background-color: var(--fern-green);
}

.about-me-card {
  color: var(--hunter-green);
  background-color: var(--fern-green);
}

.about-me-info {
  text-align: center;
  font-size: 1.5rem;
  color: var(--eerie-black);
}

.skills {
  text-align: center;
  font-size: 1.5rem;
}

.first-name {
  text-align: center;
  font-size: 2rem;
}

.about-me-body {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
}

.isAboutMeImg {
  text-align: center;
}

.portfolio-title {
  text-align: center;
  color: var(---eerie-black);
}
.grid-container {
  text-align: center;
  align-items: center;
}

.github-link {
  text-decoration: none;
  text-align: center;
  font-size: 0.8rem;
  color: var(--eerie-black);
}

.skills {
  color: var(--eerie-black);
}

.input-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--eerie-black);
  font-size: 2rem;
  text-align: center;
}

.form-control {
  width: 20rem;
  height: 2rem;
  background-color: var(--light-gray);
  text-align: center;
}
.btn {
  background-color: var(--light-gray);
  width: 10rem;
  align-items: center;
  margin: 0%;
}

.message {
  width: 25rem;
  height: 10rem;
  text-align: center;
}

.submit-btn {
  padding-top: 1.5rem;
}

.form-header {
  text-align: center;
  color: var(---eerie-black);
}

.email-message {
  color: red;
  padding-top: 3rem;
  margin-top: 1rem;
  text-align: center;
  font-size: 3rem;
}

.name-change {
  color: red;
  font-size: 5rem;
}

.container {
  text-align: center;
  margin-top: 4rem;
  font-size: 2rem;
}

.first-slide {
  text-align: center;
  opacity: 10;
}

.carousel-text {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
}

.interest-image {
  text-align: center;
}

.my-interest {
  text-align: center;
  color: whitesmoke;
  padding-top: 2rem;
  font-size: 3rem;
}

.my-interest-title {
  font-size: 4rem;
  color: whitesmoke;
}
